<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/setting ::common_head}">
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

	<div th:replace="~{parts/setting :: page_header_admin}"></div>
	<div class="container mt-3">
	<div class="row">
	<div class="col">
	<div class="card mt-3">
	<div class="card-header">店舗情報を編集します。</div>
	<div class="card-body">
	
	<form action="" method="post" th:object="${store}">
	<input type="hidden" th:field=*{storeId} />
	<table class="table table-bordered mt-3">
	
	
	<tr>
	<th>店舗名</th>
	<td>
	<div th:errors="*{storeName}" style="color:red;"></div>
	<input type="text" th:field="*{storeName}" class="form-control"/>
	</td>
	</tr>
	
	<tr>
	<th>店舗サイズ</th>
	<td>
	<div th:errors="*{storeType}" style="color:red;"></div>
	<select th:field="*{storeType}" class="form-control">
	<option value="駅前">駅前</option>
	<option value="インショップ">インショップ</option>
	<option value="ショッピングモール">ショッピングモール</option>
	<option value="路面店">路面店</option>
	<option value="その他">その他</option>
	</select>
	</td>
	</tr>
	
	<tr>
	<th>住所</th>
	<td>
	<div th:errors="*{address}" style="color:red;"></div>
	<input type="text" th:field="*{address}" class="form-control"/>
	</td>
	</tr>
	
	<tr>
	<th>電話番号</th>
	<td>
	<div th:errors="*{telephoneNumber}" style="color:red;"></div>
	<input type="tel" th:field="*{telephoneNumber}" class="form-control"/>
	</td>
	</tr>
	
	<tr>
	<th>始業時間</th>
	<td>
	<div th:errors="*{openingHours}" style="color:red;"></div>
	<input type="time" th:field="*{openingHours}" list="data1" class="form-control"/>
	</td>
	</tr>
	
	<tr>
	<th>終業時間</th>
	<td>
	<div th:errors="*{openingHours}" style="color:red;"></div>
	<input type="time" th:field="*{closingHours}" list="data1" class="form-control" />
	</td>
	</tr>
	
	<tr>
	<th>休業日</th>
	<td>
	<div th:errors="*{regularHoliday}" style="color:red;"></div>
	<input type="checkbox" th:field="*{regularHoliday}" value="月曜日" />月曜日
	<input type="checkbox" th:field="*{regularHoliday}" value="火曜日" />火曜日
	<input type="checkbox" th:field="*{regularHoliday}" value="水曜日" />水曜日
	<input type="checkbox" th:field="*{regularHoliday}" value="木曜日" />木曜日
	<input type="checkbox" th:field="*{regularHoliday}" value="金曜日" />金曜日
	<input type="checkbox" th:field="*{regularHoliday}" value="土曜日" />土曜日
	<input type="checkbox" th:field="*{regularHoliday}" value="日曜日" />日曜日
	<input type="checkbox" th:field="*{regularHoliday}" value="年中無休" />年中無休
	</td>
	</tr>
	
	
	</table>
	<input type="submit" value="確認"  class="btn btn-primary"/> <a th:each="s:${store}" th:href="@{/store/delete/{storeId}(storeId=${s.storeId})}" class="btn btn-danger">削除</a>
	
	</form>
	</div>
	</div>
	<a th:href="@{/home/administrator}">トップページに戻る</a>  /  <a th:href="@{/store}">一覧へ戻る</a>
	</div>
	</div>
	</div>
	
	
	<datalist id="data1">
	<option value="01:00"></option>
	<option value="02:00"></option>
	<option value="03:00"></option>
	<option value="04:00"></option>
	<option value="05:00"></option>
	<option value="06:00"></option>
	<option value="07:00"></option>
	<option value="08:00"></option>
	<option value="09:00"></option>
	<option value="10:00"></option>
	<option value="11:00"></option>
	<option value="12:00"></option>
	<option value="13:00"></option>
	<option value="14:00"></option>
	<option value="15:00"></option>
	<option value="16:00"></option>
	<option value="17:00"></option>
	<option value="18:00"></option>
	<option value="19:00"></option>
	<option value="20:00"></option>
	<option value="21:00"></option>
	<option value="22:00"></option>
	<option value="23:00"></option>
	<option value="24:00"></option>
	</datalist>
	
	<script th:replace="~{parts/setting :: common_js}"></script>
</body>
</html>