<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/setting ::common_head}">
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div th:replace="~{parts/setting :: page_header_admin}"></div>
	<div class="container mt-3">
	<div class="row">
	<div class="col">
	<div class="card mt-3">
	<div class="card-header">以下のデータを削除します。よろしいですか？</div>
	<div class="card-body">
	<form action="" method="post">
	<table class="table table-bordered">
	
	<th:block th:each="u:${user}">
	<tr >
	<th class="col-2">ID</th>
	<td th:text="${u.id}"  >
	</td>
	</tr>
	
	<tr>
	<th>名前</th>
	<td th:text="${u.member.name}"></td>
	</tr>
	
	<tr>
	<th>フリガナ</th>
	<td th:text="${u.member.kana}"></td>
	</tr>
	
	<tr>
	<th>年齢</th>
	<td th:text="${u.member.age}"></td>
	</tr>
	
	<tr>
	<th>生年月日</th>
	<td th:text="${#dates.format(u.member.birthday,'yyyy年MM月dd日')}"></td>
	</tr>	
	
	<tr>
	<th>役職</th>
	<td th:text="${u.member.positionName}"></td>
	</tr>
	
	<tr>
	<th>所属店舗</th>
	<td th:text="${u.member.workStore}"></td>
	</tr>
	
	<tr>
	<th>入社日</th>
	<td th:text="${#dates.format(u.member.hireDate,'yyyy年MM月dd日')}"></td>
	</tr>
	
	<tr>
	<th>ログインID</th>
	<td th:text="${u.loginId}"></td>
	</tr>
	
	<tr>
	<th>ログインPASS</th>
	<td th:text="${u.loginPass}"></td>
	</tr>
	</th:block>
	
	</table>
	
	
	<input type="submit" value="削除" class="btn btn-danger mt-3"/>  
	</form>
	</div>
	</div>
	</div> 
	</div>
	<a th:href="@{/home/administrator}">トップページに戻る</a>  /  <a th:href="@{/user}">一覧に戻る</a>
	</div>
	
	
	<script th:replace="~{parts/setting :: common_js}"></script>
	
</body>
</html>